<header>
    <a href="https://iti.gov.eg">
        <img id="logo" src="../imgs/ITI_logo.png" height="50" alt="iti logo">
    </a>
    <nav id="buttons">
        <a href="../index.html">Home</a>
        <a href="./syllabus.html" class="active">Road Map</a>
        <a href="./registration_form.html">Registration Form</a>
        <a href="./JS-Task-01.html">JS Task-01</a>
        <a href="./JS-Task-02.html">JS Task-02</a>
        <a href="./JS-Task-03.html">JS Task-03</a>
        <a href="./PHP-Task-01.php">PHP Taks-01</a>
        <a href="./PHP-Task-02.php">PHP Taks-02</a>
        <a href="https://iti.gov.eg/contact-us">Contact</a>
    </nav>
</header>