form {
    display: block;
    padding: 10px;
    padding-inline: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    background-color: #555555;
}

form div.title {
    background-color: #444444;
    padding: 5px;
    padding-inline: 10px;
    border-style: dashed;
    border-width: 1px;
}

#fTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: separate;
    margin-top: 10px;
}

#fTable thead th:nth-child(1) {
    width: 30%;
}

#fTable tbody th {
    padding: 5px;
    text-align: right;
    color: white;
    background-color: #444444;
}

#fTable td {
    padding-left: 10px;
}

.text,
#country {
    width: 70%;
    text-align: center;
}

#fTable input[name="password"],
#address {
    width: 100%;
}

#fTable tfoot {
    text-align: center;
}

#phTable {
    width: 100%;

    text-align: left;
}

#phTable td:nth-child(1),
#phTable td:nth-child(3) {
    width: 0px;
}

#phTable td:nth-child(2),
#phTable td:nth-child(4) {
    width: 0px;
}

#phTable label {
    font-size: small;
}

#phTable input[name="code"] {
    width: 30px;
    text-align: center;
}

#phTable input[name="phone"] {
    width: 80px;
}

